section.advantage{
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}
section.advantage>h2{
	flex-basis: 100%;
	color: #3E503C;
	flex-wrap: wrap;
	margin-top: 2vw;
	color: #FF6F3D;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.2vw;
	font-size: 2vw;
}
section.advantage>p{
	font-weight: bold;
	margin: 0;
	font-size: 2vw;
	top: 6vw;
	position: absolute;
	left: 1vw;
	writing-mode: vertical-lr;
}
section.advantage>h2::after {
	content: '';
	margin-top: 2vw;
	left: 0;
	display: block;
	height: 0.2vw;
	width: 70%;
	background-color: #3E503C;
	position: absolute;
}
.advantage article{
  padding: 0;
  perspective: 1000px;
	transform-style: preserve-3d;
}
.advantage .card-item{
	position: relative;
	text-align: center;
	background: linear-gradient(#F3ECDB 52%,#3E503C 57%);
	border: 0.1vw solid #3E503C;
	border-radius: 0.5vw;
	color: #F3ECDB;
	font-family: 'Pacifico', cursive;
  width: 17vw;
	height: 27vw;
	padding: 0.5vw 0.1vw;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.advantage .card-item p:first-of-type{
	font-size: 1.3vw;
	line-height: 1.7vw;
	bottom: 8.5vw;
	width: 100%;
}
.advantage .card-item p:last-of-type{
	font-size: 2.8vw;
	line-height: 4vw;
	font-weight: bold;
	bottom: 1vw;
	width: 100%;
}
.advantage article:last-of-type .card-item p{
	margin-bottom: 1vw;
}
.card-item p{
	margin: 0;
	position: absolute;
}

.advantage .card-item img{
	height: 55%;
	box-shadow: none;
}
@media screen and (max-width:480px) {
	section.advantage{
		min-height: 410vw;
		justify-content: space-around;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	section.advantage>h2{
		align-self: flex-start;
	}
	
	section.advantage>h2::after {
		height: 1vw;
	}

	.advantage .card-item{
		border: 0.3vw solid #3E503C;
		width: 80vw;
		height: 120vw;
		border-radius: 2vw;
		padding: 0.5vw 0.1vw;
	}
	.advantage .card-item p:first-of-type{
		font-size: 5vw;
		bottom: 30vw;
		width: 100%;
	}

	.advantage .card-item p{
		margin: 0;
		position: absolute;
		font-size: 7vw;
		text-align: center;
		width: 100%;
		bottom: 15vw;
	}
	
	.advantage .card-item img{
		height: 55%
	}
}