.company{
	position: relative;
	min-height: 100vh;
	margin-bottom: 5.5vw;
}
.company img:first-of-type{
	position: absolute;
	top: 0;
	left: 20vw;
	width: 22vw;
}
.company img:last-of-type{
	position: absolute;
	top: 10vw;
	left: 0vw;
	width: 35vw;
}
.company h2{
	margin: 0;
	color: #FF6F3D;
	font-family: 'Lobster', cursive;
	text-shadow: 0.5vw 0.5vw 0.5vw #3E503C;
	letter-spacing: 0.2vw;
	width: 50vw;
	left: 70vw;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 13vw;
	font-size: 4vw;
	transform: translate(-50%, -50%);
}
.company p{
	text-align: center;
	color: #FF6F3D;
	margin: 0;
	position: absolute;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.2vw;
	font-size: 2vw;
	line-height: 3vw;
	width: 50vw;
	left: 45vw;
	top: 20vw;
}
.company span{
	position: absolute;
	font-size: 2vw;
	color: #FF6F3D;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.2vw;
	font-size: 1.3vw;
	right: 2vw;
	top: 0vw;
	font-weight: bold;
}
@media screen and (max-width:480px) {
	.company{
		min-height: 75vw;
	}
	.company img:first-of-type{
		display: none;
	}
	.company img:last-of-type{
		position: absolute;
		top: 10vw;
		left: 2vw;
		width: 43vw;
	}
	.company h2{
		width: 50vw;
		left: 70vw;
		top: 18vw;
		font-size: 7.5vw;
	}
	.company p{
		width: 50vw;
		left: 47vw;
		top: 30vw;
		font-size: 4.5vw;
		line-height: 4.5vw;
	}
	.company span{
		right: 0.2vw;
		font-size: 4vw;
	}
}