.preview{
	position: relative;
	min-height: 100vh;
	background: linear-gradient(to right, #3E503C 50%, #F3ECDB 50%);
	background-size: 100%;
}
.preview h2{
	margin: 0;
	color: #FF6F3D;
	font-family: 'Pacifico', cursive;;
	position: absolute;
	letter-spacing: 0.2vw;
	font-size: 2vw;
	left: 65vw;
	top: 5vw;
}
.preview p:first-of-type{
	position: absolute;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.2vw;
	font-size: 1.3vw;
	width: 25vw;
	text-align: center;
	top: 20vw;
	color: #FF6F3D;
	left: 82vw;
	transform: translate(-50%, -50%);
}
.preview p span{
	position: absolute;
	font-size: 2vw;
	color: #FF6F3D;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.2vw;
	font-size: 1.3vw;
	right: 2vw;
	top: 43vw;
	font-weight: bold;
}
.preview img:first-of-type{
	position: absolute;
	top: 0;
	left: 0;
	width: 30vw;
}
.preview img:last-of-type{
	position: absolute;
	top: 10vw;
	left: 20vw;
	width: 45vw;
}
.preview::after{
	content: '';
	right: 0;
	display: block;
	height: 0.2vw;
	width: 70vw;
	background-color: #3E503C;
	position: absolute;
	top: 40vw;
}
@media screen and (max-width:480px) {
	.preview{
		min-height: 100vw;
		background: linear-gradient(to right, #3E503C 50%, #F3ECDB 50%);
		background-size: 100%;
	}
	.preview h2{
		left: 60vw;
		top: 6vw;
		text-align: center;
		letter-spacing: 0.2vw;
		font-size: 5vw;
	}
	.preview p:first-of-type{
		width: 35vw;
		top: 60vw;
		left: 80vw;
		font-size: 4vw;
	}
	.preview p span{
		font-size: 4vw;
		top: 100vw;
	}
	.preview img:first-of-type{
		display: none;
	}
	.preview img:last-of-type{
		top: 21vw;
		left: -10vw;
		width: 85vw;
		transform: rotate(-90deg);
	}
	.preview::after{
		top: 99.8vw;
	}
}