.price{
	position: relative;
	min-height: 100vh;
	background: linear-gradient(to right, #3E503C 20%, #F3ECD8 20%);
	background-size: contain;
}
.price img{
	position: absolute;
	width: 30vw;
	top: 6vw;
	left: 10vw;
}
.price p, .price h2{
	color: #FF6F3D;
}
.price p:first-of-type{
	position: absolute;
	width: 58vw;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.1vw;
	font-size: 2vw;
	line-height: 2.5vw;
	right: 0;
	text-align: center;
	top: 3vw;
}
.price h2{
	position: absolute;
	font-family: 'Lobster', cursive;
	text-shadow: 0.3vw 0.3vw 0.3vw #3E503C;
	width: 20vw;
	right: 20vw;
	top: 32vw;
	font-size: 2.5vw;
	text-align: center;
}
.price p:last-of-type{
	position: absolute;
	font-family: 'Pacifico', cursive;
	letter-spacing: 0.1vw;
	font-size: 2vw;
	right: 13vw;
	top: 42vw;
	font-size: 2vw;
	text-align: center;
}
@media screen and (max-width:480px) {
	.price{
		min-height: 64vw;
		background: linear-gradient(to right, #3E503C 35%, #F3ECD8 35%);
		background-size: contain;
	}
	.price img{
		width: 43vw;
		top: 5vw;
		left: 2vw;
	}
	
	.price p:first-of-type{
		position: absolute;
		width: 51vw;
		left: 45vw;
		font-size: 2.5vw;
		text-align: center;
		top: 0vw;
		display: none;
	}
	.price h2{
		width: 50vw;
		left: 46vw;
		top: 15vw;
		font-size: 5vw;
	}
	.price p:last-of-type{
		left: 47vw;
		top: 50vw;
		font-size: 4vw;
		width: 50vw;
	}
}